@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@Html.ActionLink("New Customer", "Create", "", new { @class = "btn btn-primary rounded-1 mb-2" })

<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
            <th>Discount Rate</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in Model)
            {
                <tr class="row">
                    <td class="col">@Html.ActionLink(item.Name, "Edit", new { id = item.Id })</td>
                    <td class="col">@item.MembershipType.Name</td>
                    <td class="col">@item.MembershipType.DiscountRate%</td>
                    <td class="col">
                        <button data-customer-id="@item.Id" class="link-danger js-delete border-0 rounded-2">Delete</button>
                    </td>
                </tr>
            }*@
    </tbody>
</table>

@section Scripts
{
    <script src="~/Scripts/Customers/CustomerIndex.js"></script>
    <script src="~/Scripts/Customers/CustomersDataAccess.js"></script>
}


